{% extends 'base.html' %}

{% block content %}
<!-- Page heading -->
<div class="container p-t-4 p-b-40">
    <h2 class="f1-l-1 cl2">
        Регистрация
    </h2>
</div>


<div class="col-md-10 col-lg-8">
    <div class="p-b-20">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <p>
                <button type="submit" class="btn btn-primary">Войти</button>
            </p>
        </form>
    </div>
</div>

{% endblock %}