{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Page heading -->
<div class="container p-t-4 p-b-40">
    <h2 class="f1-l-1 cl2">
        {{ title }}
    </h2>
</div>


<!-- Post -->
<section class="bg0 p-t-10 p-b-55">


    <div class="container">

        <div class="wrap-pic-max-w p-b-0">
            <div class="f1-s-11 cl6 p-b-25"> {{ cat.description }}</div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 p-b-80">
                <div class="row">
                    {% for p in page_obj%}
                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                        <!-- Item latest -->
                        <div class="m-b-45">
                            <a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
                                <img src="{% static 'blog/images/entertaiment-06.jpg' %}" alt="IMG">
                            </a>

                            <div class="p-t-16">
                                <h5 class="p-b-5">
                                    <a href="blog-detail-01.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                                        {{ p.title }}
                                    </a>
                                </h5>

                                <span class="cl8">
										<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
											{{ p.author.full_name }}
										</a>

										<span class="f1-s-3 m-rl-3">
											-
										</span>

										<span class="f1-s-3">
											{{ p.date_published }}
										</span>
									</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Pagination -->
                {% include 'blog/includes/pagination.html' with
                page_obj=page_obj
                page=page %}
            </div>

            <div class="col-md-10 col-lg-4 p-b-80">
                <div class="p-l-10 p-rl-0-sr991">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}