{% load static %}

<!-- Sidebar -->
<div class="col-md-5 col-lg-4 p-b-30">
    <div class="p-l-10 p-rl-0-sr991 p-t-5">
        <!-- Popular Posts -->
        <div>
            <div class="how2 how2-cl4 flex-s-c">
                <h3 class="f1-m-2 cl3 tab01-title">
                    Популярные посты
                </h3>
            </div>

            <ul class="p-t-35">
                {% for p in pop_posts %}
                <li class="flex-wr-sb-s p-b-30">
                    <a href="#" class="size-w-10 wrap-pic-w hov1 trans-03">
                        <img src="{% static 'blog/images/popular-post-04.jpg' %}" alt="IMG">
                    </a>

                    <div class="size-w-11">
                        <h6 class="p-b-4">
                            <a href="#" class="f1-s-5 cl3 hov-cl10 trans-03">
                                {{ p.title }}
                            </a>
                        </h6>

                        <span class="cl8 txt-center p-b-24">
											<a href="{% url 'category' p.category.title %}"
                                               class="f1-s-6 cl8 hov-cl10 trans-03">
												{{  p.category.title }}
											</a>

											<span class="f1-s-3 m-rl-3">
												-
											</span>

											<span class="f1-s-3">
												{{ p.date_published }}
											</span>
										</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- Tag -->
        <div class="p-b-20">
            <div class="how2 how2-cl4 flex-s-c m-b-10">
                <h3 class="f1-m-2 cl3 tab01-title">
                    Tags
                </h3>
            </div>

            <div class="flex-wr-s-s m-rl--5">
                {% for tag in tags %}
                <a href="{% url 'tag' tag.slug %}"
                   class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                    {{ tag.title }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>